@font-face {
    font-family: "PFDinTextCompPro-Bold";
    src: url("../fonts/PFDinTextCompPro-Bold/PFDinTextCompPro-Bold.eot");
    src: url("../fonts/PFDinTextCompPro-Bold/PFDinTextCompPro-Bold.eot")format("embedded-opentype"),
    url("../fonts/PFDinTextCompPro-Bold/PFDinTextCompPro-Bold.woff") format("woff"),
    url("../fonts/PFDinTextCompPro-Bold/PFDinTextCompPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PFDinTextCompPro-Light";
    src: url("../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.eot");
    src: url("../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.eot")format("embedded-opentype"),
    url("../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.woff") format("woff"),
    url("../fonts/PFDinTextCompPro-Light/PFDinTextCompPro-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PFDinTextCompPro-Medium";
    src: url("../fonts/PFDinTextCompPro-Medium/PFDinTextCompPro-Medium.eot");
    src: url("../fonts/PFDinTextCompPro-Medium/PFDinTextCompPro-Medium.eot")format("embedded-opentype"),
    url("../fonts/PFDinTextCompPro-Medium/PFDinTextCompPro-Medium.woff") format("woff"),
    url("../fonts/PFDinTextCompPro-Medium/PFDinTextCompPro-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PFDinTextCompPro-Regular";
    src: url("../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.eot");
    src: url("../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.eot")format("embedded-opentype"),
    url("../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.woff") format("woff"),
    url("../fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lcchalk_";
    src: url("../fonts/Lcchalk_/Lcchalk_.eot");
    src: url("../fonts/Lcchalk_/Lcchalk_.eot")format("embedded-opentype"),
    url("../fonts/Lcchalk_/Lcchalk_.woff") format("woff"),
    url("../fonts/Lcchalk_/Lcchalk_.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
