
.text-center{
	text-align:center;
	margin: 0 auto;
}

/* Наши программы
============================*/
.dd-title-wrap, .dd-box-sircle-wrap{
	padding-top:30px;
}
.dd-sircle-img{
	display: inline-block;
}
.dd-box-sircle{
	text-align:center;
}
.dd-main-txt{
	padding-top: 30px;
	span{
		color:#295BA9;
		font-size: 25px;
	}
	p{
		padding-bottom: 30px;
	}
	.padding-top-30{
		padding-top: 30px;
	}
}
.dd-section-form{
	display:block;
	width: 308px;
	margin: 0 auto;
	height: 547px;
}
.dd-main-txt-wrap{
	padding-top: 50px;
}
.dd-main-txt-img{
	text-align:center;
}
.dd-big-box{
	margin-bottom: 30px;
	text-align:center;
	.dd-big-box-txt{
		text-align: center;
		padding-top: 35px;
		span{
			color:#295BA9;
			font-size: 25px;
			letter-spacing: -1px;
		}
	}
	.pt{
		padding-top: 43px;
	}
}



@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
	
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1248px) {
	.dd-title-wrap{
		float: left;
	}
	.text-center{
		text-align:left;
	}
	.dd-main-txt-wrap{
		width: 435px;
	}
	.dd-main-txt-wrap{
		float: left;
	}
	.dd-section-form{
		// display: block;
		float: right;
		margin-right: 78px;
		margin-top: 126px;
	}
	.dd-box-sircle{
		float: left;
	}
	.dd-box-sircle-wrap{
		width: 526px;
		margin: 0 auto;
	}
	.mleft-40{
		margin-left: 28px;
	}
	.dd-big-box{
		margin-bottom: 94px;
	}
	.dd-big-box{
		margin-top: 50px;
		width: 249px;
		float: left;
	}
}

