@import "reset.css";
@import "fonts.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "style5.css";
@import "style6.css";
@import "style7.css";
@import "style8.css";
@import "style9.css";
@import "style10.css";

body{
	font-family: "PFDinTextCompPro-Regular", arial, sans-serif;
	font-size: 18px;
	color: #000;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table; 
}
.clear{
  clear: both;
}
.center{
	text-align: center;
}
.container{
	max-width: 1028px;
}
h1{
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	font-family: "PFDinTextCompPro-bold", arial, sans-serif;
}
h2{
	color: #ed1a90;
	font-size: 45px;
	text-transform: uppercase;
	max-width: 270px;
	font-family: "PFDinTextCompPro-Medium", arial, sans-serif;
	strong{
		font-weight: 400;
		color: #fdb514;
	}
}
.button-1{
	background: #ed1a90;
	font-family: "PFDinTextCompPro-Regular", arial, sans-serif;
	font-size: 30px;
	padding: 10px 25px;
	color: #fff;	
	border-radius: 2px;
	border: none;
	outline: none;
	width: auto;
}
.button-2{
	background: #ed1a90;
	text-transform: uppercase;
	padding: 17px 18px;
	font-family: "PFDinTextCompPro-bold", arial, sans-serif;
	font-size: 31px;
	color: #fff;
	border-radius: 2px;
}
input{
	background: #fdb514;
	outline: none;
	line-height: 35px;
	text-align: center;
	color: #fff;
	font-size: 21px;
	border: none;
	display: block;
	width: 100%;
	font-family: "PFDinTextCompPro-Regular", arial, sans-serif;
}
.input-wrap{
	position: relative;
	max-width: 255px;
	padding: 0 13px;
	&::before,
	&::after{
		content: "";
		position: absolute;
		display: block;
		background: #fdb514;
		width: 13px;
		height: 100%;
		border: 1px solid #fff;
		top: 0;
	}
	&::before{
		left: 0;
		border-right: none;
	}
	&::after{
		border-left: none;
		right: 0;
	}
}



@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}


