.school { padding: 50px 0 20px; background: url(../img/school_bg.jpg) top center/cover no-repeat; }
.school h3 { color: #fdb514; text-transform: uppercase; font-size: 63px; font-family: "PFDinTextCompPro-bold", arial, sans-serif; text-align: center; }
.school .descr { font-family: "PFDinTextCompPro-medium", arial, sans-serif; font-size: 32px; color: #fff; display: block; text-align: center; padding: 10px 0 30px; }
.school .btn { text-align: center; padding-bottom: 20px; }
.school .button-2 { margin: 0 auto; }
.school .free { display: block; text-align: center; font-size: 20px; color: #fff; }

.photo { padding: 80px 0 0; }
.photo .col-md-12 { padding: 0; }
.photo .photo__in { padding: 20px 0 40px; }
.photo .photo__slider { float: left; max-width: 707px; }
.photo .df-section { float: left; padding-left: 15px; padding-bottom: 165px; }
.photo .slide { outline: none; position: relative; }
.photo .img-wrap { width: 100%; height: 476px; overflow: hidden; }
.photo .img-wrap img { width: 100%; height: auto; min-height: 100%; display: block; }
.photo .img__txt { color: #fff; font-size: 21px; background: #fdb514; padding: 4px 40px 9px 17px; position: absolute; bottom: 0; right: 0; }
.photo .img__txt p { padding-bottom: 2px; font-family: "PFDinTextCompPro-Regular", arial, sans-serif; }
.photo .slick-arrow { display: none !important; }
.photo .slick-dots { text-align: center; display: block; }
.photo .slick-dots li { display: inline-block; padding: 9px 3px; }
.photo .slick-dots li.slick-active button { background: #fdb514; }
.photo .slick-dots li button { width: 19px; height: 18px; border: 3px solid #fdb514; background: #fff; outline: none; color: transparent; }

.teacher-slider { background: url(../img/teacher_bg.jpg) top center/cover no-repeat; height: 542px; width: 100%; }
.teacher .single-item { height: 542px; }
.teacher .slider__nav { padding: 10px 0 30px; }
.teacher .slider__nav a { color: #000; font-size: 24px; display: inline-block; padding-right: 5px; }
.teacher .slider__nav .active__nav { color: #295ba9; }
.teacher .slider__nav i { font-style: normal; }
.teacher .slide { position: relative; outline: none; height: 542px; }
.teacher .slick-dots { display: none !important; }
.teacher .slick-arrow { border: none; width: 54px; height: 102px; color: transparent; position: absolute; top: 50%; margin-top: -27px; z-index: 20; outline: none; left: -65px; background: url(../img/teacher_slide-arrow.png) 0 0 no-repeat; }
.teacher .slick-next { right: -65px; left: auto; transform: rotate(180deg); }
.teacher .img-wrap { width: 548px; height: 512px; position: absolute; top: 30px; left: 50%; margin-left: -274px; }
.teacher .img-wrap img { width: 100%; height: auto; min-height: 100%; display: block; }
.teacher .img__txt { color: #fff; font-family: "Lcchalk_"; padding: 35px 65px; }
.teacher .img__title { display: block; font-size: 30px; padding-bottom: 20px; background: url(../img/teacher_arrow.png) left bottom no-repeat; }
.teacher .list { padding-top: 25px; }
.teacher .list-left { float: left; }
.teacher .list-right { float: right; }
.teacher .list li { font-size: 20px; }
.teacher .list .title { font-size: 47px; padding-bottom: 10px; }

.distinction { padding: 60px 0 0; height: 630px; background: url(../img/sign.jpg) 40% 0 no-repeat; }
.distinction h4 { font-size: 45px; color: #295ba9; width: 300px; padding-top: 30px; padding-bottom: 10px; }
.distinction h4 span { font-size: 45px; color: #fdb514; width: 300px; margin-left: 30px; margin-top: 80px; }
.distinction-data { float: left; width: 437px; }
.distinction-data p { color: #295ba9; font-size: 24px; }
.distinction-data p span { color: #fdb514; font-size: 24px; display: block; padding: 15px 0 0; }
.distinction-data-right { float: right; }
.distinction-data-left p { padding-top: 15px; }
.distinction-data-left p span { padding: 0 0 15px; }

.result { position: relative; }
.result-in { max-width: 1280px; margin: 0 auto; }
.result .slide { position: relative; outline: none; }
.result .slick-dots { display: none !important; }
.result .slick-dots { display: none !important; }
.result .slick-arrow { border: none; width: 54px; height: 102px; color: transparent; position: absolute; top: 50%; margin-top: -27px; z-index: 20; outline: none; left: 0px; background: url(../img/teacher_slide-arrow.png) 0 0 no-repeat; }
.result .slick-next { right: 0px; left: auto; transform: rotate(180deg); }
.result_wrap { text-align: left; width: 1130px; height: auto; overflow: hidden; }
.result_wrap img { width: 100%; height: auto; min-height: 100%; display: block; }
.result h3 { color: #295ba9; font-size: 24px; }
.result h3 span { font-size: 18px; display: block; padding: 20px 0 50px; }
.result_block { position: absolute; top: 50px; left: 100px; }
.result .data { padding: 10px 10px 0 0; text-align: left; font-size: 24px; width: 250px; height: 300px; }
.result .title { padding-top: 40px; }
.result p { color: #295ba9; font-size: 24px; }
.result p span { color: #fdb514; font-size: 24px; }
.result .look { display: inline-block; background: url(../img/tire.jpg) left bottom repeat-x; font-size: 24px; color: #ed1a90; }

.testimonials { padding: 100px 0 80px; }
.testimonials h2 { padding-bottom: 20px; }
.testimonials .img_wrap { width: 180px; height: 180px; overflow: hidden; }
.testimonials img { width: 100%; height: auto; min-height: 100%; display: block; }
.testimonials h3 span { font-size: 18px; display: block; }
.testimonials h3 { color: #295ba9; font-size: 24px; }
.testimonials .img_block { padding: 5px; outline: none; }
.testimonials .img_title { float: left; margin: 0 120px 20px 0; overflow: hidden; }
.testimonials .img_block p { padding: 35px 25px; text-align: left; font-size: 24px; color: #202020; max-width: 550px; float: left; }
.testimonials .slick-dots { display: none !important; }
.testimonials .slick-prev { display: none !important; }
.testimonials .slick-next { border: none; color: transparent; width: 116px; height: 82px; background: url(../img/testimonials_arrow.png); outline: none; position: absolute; top: 50%; margin-top: -41px; right: 0; }

.partners { padding: 100px 0 80px; }
.partners h2 { padding-bottom: 20px; }
.partners .img_logo-wrap { float: left; margin-bottom: 10px; height: 170px; max-width: 183px; }
.partners .img_logo img { margin-left: -8px; display: block; }
.partners p { font-size: 16px; padding: 0 10px 0; color: #b9b9b9; border-left: 3px solid #ed1a90; }
.partners .img_logo_5 { padding: 15px 25px 0 10px; }
.partners .img_logo_6 { padding-top: 20px; }

.footer__in { padding: 40px 0; }
.footer__in .logo { float: left; display: block; width: 231px; height: 63px; background: url(../img/footer_logo.jpg) top left no-repeat; }
.footer__in .txt { display: block; color: #295ba9; font-size: 24px; }
.footer__in .info { max-width: 340px; padding: 10px 0 0 20px; float: left; }
.footer__in .info .pink a { color: #ed1a90; }
.footer__in .right { float: right; }
.footer__in .right .phone, .footer__in .right .btn { float: left; }
.footer__in .right .phone { padding: 6px 23px 0; }
.footer__bottom { height: 39px; width: 100%; background: #fdb514 url(../img/footer_bg.jpg) top right no-repeat; }
.footer .button-1 { font-size: 24px; padding: 13px 14px; border-radius: 0; }

.mape h2 { padding: 15px 0; }

@media only screen and (max-width: 1200px) { .photo .photo__slider { max-width: 650px; }
  .result_wrap { width: 80%; }
  .result_block { top: 10px; }
  .result .title span { padding-bottom: 10px; }
  .result .data { height: auto; }
  .partners .img_logo_5, .partners .img_logo_6 { height: auto; width: 200px; padding: 0; }
  .partners .img_logo_5 img, .partners .img_logo_6 img { margin: 0 auto; } }
@media only screen and (max-width: 1000px) { .photo { padding: 30px 0 0; }
  .photo .col-md-12 { padding: 0 15px; }
  .photo .photo__slider, .photo .df-section { margin: 0 auto; float: none; }
  .photo .df-section { text-align: center; padding-left: 0; }
  .photo .df-section h3 { margin: 0 auto 6px; }
  .photo .photo__slider .img-wrap { width: 100%; height: auto; }
  .result_wrap { width: 93%; }
  .result_block { top: 0px; }
  .result .title span { padding-bottom: 0px; }
  .result .data { height: auto; }
  .distinction { height: auto; background-size: cover; padding: 20px 0; }
  .distinction-data { width: 100%; float: none; }
  .teacher .img__txt { padding: 35px 0px; }
  .teacher .slick-arrow { display: none !important; }
  .teacher .list li { font-size: 16px; }
  .teacher .img-wrap { width: 448px; height: 412px; margin-left: -224px; }
  .teacher-slider { height: 450px; }
  .footer .right { padding: 6px 0 0; }
  .footer .right .phone { float: none; padding-bottom: 15px; }
  .footer .right .btn { float: none; } }
@media only screen and (max-width: 760px) { .school { padding: 20px 0 20px; }
  .school h3 { font-size: 43px; }
  .school .descr { font-size: 22px; padding: 10px 0 20px; }
  .school .free { font-size: 18px; }
  .teacher-slider { height: auto; }
  .teacher .img-wrap { left: auto; margin: 0; right: 0; top: auto; bottom: 0; }
  .teacher .list { padding: 10px 0 0; float: none; }
  .teacher .list li { font-size: 14px; }
  .teacher .list .title { font-size: 18px; }
  .teacher .img__title { font-size: 20px; }
  .result h2 { font-size: 16px; }
  .result .title span { padding-bottom: 10px; }
  .result_block { left: 10px; }
  .result .data p { font-size: 14px; width: 180px; }
  .result .data p span { font-size: 14px; }
  .result .look { font-size: 14px; }
  .result .slick-arrow { display: none !important; }
  .testimonials .img_title { margin: 0; padding-right: 20px; }
  .footer .right { padding: 0 20px; float: none; }
  .footer .right .phone { float: left; padding: 20px 15px 15px; }
  .footer .right .btn { padding: 20px 15px 15px; float: right; } }
@media only screen and (max-width: 580px) { .school { padding: 20px 0 20px; }
  .school h3 { font-size: 30px; }
  .school .descr { font-size: 18px; padding: 10px 0 10px; }
  .school .btn { padding-bottom: 10px; }
  .school .free { font-size: 14px; }
  .teacher .slide, .teacher .single-item { height: auto; }
  .teacher .img-wrap { display: none; }
  .distinction h4 { font-size: 20px; padding-bottom: 0; }
  .distinction h4 span { font-size: 20px; }
  .distinction-data p { padding-top: 0; font-size: 16px; }
  .distinction-data p span { font-size: 16px; }
  .testimonials { padding: 20px 0; }
  .testimonials .img_title { width: 100%; text-align: center; padding-bottom: 10px; }
  .testimonials .img_title .img_wrap { margin: 0 auto; }
  .testimonials .slick-arrow { display: none !important; }
  .testimonials .img_block p { font-size: 15px; padding: 15px 10px; }
  .partners { padding: 20px 0; }
  .partners .img_logo-wrap { margin: 0 auto 8px; float: none; }
  .footer .logo { margin: 0 auto; float: none; }
  .footer .info { float: none; width: 100%; padding: 10px; margin: 0 auto; }
  .footer .right .phone { width: 100%; padding: 20px 10px 15px; text-align: center; }
  .footer .right .btn { width: 100%; text-align: center; }
  .footer .right .btn a { display: inline-block; } }
@media only screen and (max-width: 400px) { .result_wrap { width: 98%; }
  .result .title { padding-top: 25px; }
  .result .title h3 span { padding-bottom: 0; padding-top: 0; font-size: 16px; }
  .result .data p { width: 135px; font-size: 12px; }
  .result .data p span { font-size: 12px; } }
