.section_db-header{
	background: url("../img/db-header.jpg") no-repeat;
	background-size: cover;
}
.db-header-top-box{
	max-width:320px;
	width: 100%;
	margin: 0 auto;
}
.db-header-fon-left{
	background: url("../img/db-header-title-mobile.png") no-repeat top left;
	width:155px;
	height:44px;
	display: inline-block;
}
.db-header-top-p{
	display: inline-block;
	float:right;
	select{
		border:none;
		outline: none;
		option{
			border-bottom:1px dashed black;
		}
	}	
}
.container{
	outline: 1px solid red;
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

