
.text-center{
	text-align:center;
	margin: 0 auto;
}
.mleft-40{
	margin-left: 40px;
}
/* Наши программы
============================*/
.dd-sircle-img{
	display: inline-block;
}
.dd-box-sircle{
	text-align:center;
}







@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
	.dd-box-sircle{
		float: left;
	}
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

