.clear{
	clear: both;
}

/*========tech===========*/
// .df-sectionH{
// 	min-height: 500px;
// }
.df-techblock__cap_view{
	font-size: 38px;
	color:#000000;
	line-height: 56px;
	max-width: 310px;
	width: 100%;
	border-radius: 5px;		
	background-color: #fdb514;
	font-family: "PFDinTextCompPro-Regular";
	text-align: center;
	margin-bottom: 6px;
}
.df-techblock_view{
	max-width: 305px;
	width: 100%;
	border-radius: 5px;
	display: inline-block;
	padding: 11px 7px;
	background-color: #fdb514;
	text-align: center;
	font-family: "PFDinTextCompPro-Regular";
	position: relative;
}
.df-techblock__txt1_view{
	font-size: 18px;
	color: #fff;
	display: block;
	margin-bottom: 5px;
}
.df-techblock__txt2_view{
	font-size: 18px;
	color: #ed1a90;
	display: block;
	margin-bottom: 9px;
}
.df-triangle{
	position: absolute;
    bottom: -95px;
    left: 34px;
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 95px solid #fdb514;
}
.df-txt-triangle{
	font-size: 12px;
	color:#ffe6af;
	font-family: "PFDinTextCompPro-Regular";
	position: absolute;
	bottom: -50px;
    left: 90px;
}
//========form

.df-tech__form_view{
	width: 100%;
	padding: 0 20px;
	.input-wrap{
		margin-bottom: 16px;
	}
}

.df-button-1{
	display: inline-block;
	position: absolute;
	bottom: -155px;
	left:90px;
}


/*=============welcome ============*/
.df-welcome{
	padding-bottom: 35px;
	position: relative;
}
.df-welcomeBlock{
	max-width: 1055px;
	width: 100%;
	margin: 0 auto;
	text-align: center;	
}
.df-wel-cap{
	max-width: 450px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-family: "PFDinTextCompPro-Medium";
    font-size: 51px;
    line-height: 51px;
    color: #ed1a90;
    text-transform: uppercase;   
    padding-left: 7%;    
    margin-bottom: 24px;
	strong{
		color: #fdb514;
	}
}
.df-welcome__box_view{
	max-width: 280px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	text-align: left;
	font-family: "PFDinTextCompPro-Regular";
	vertical-align: top;	
	margin-bottom:35px;	
}

.df-welcome__box__img_view{
	padding-left: 40px;
	margin-bottom: 12px;
}
.df-welcome__box__txt1_view{
	display: block;
	font-size: 24px;
	color: #295ba9;	
}
.df-welcome__box__txt2_view{
	display: block;
	font-size: 24px;
	color: #fdb514;
}
.df-imgabsolute1{
	display: none;
}
.df-imgabsolute2{
	display: none;
}
.df-imgabsolute3{
	display: none;
}



@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	.df-button-1{		
		left:45px;
	}
}

@media only screen and (min-width : 992px) {
	


	///////////welcome
	.df-welcomeBlock{		
		padding: 0 40px 0 80px;
	}
	.df-wel-cap{
		max-width: 650px;
	    width: 100%;	   
	    padding-left: 245px;	    
	    margin-bottom: 74px;		
	}
	.df-welcome__box_view{			
		margin-right: 50px;
	}
	.dfmargin0{
		margin: 0;
	}
	.df1{
		margin-right: 72px;
	}
	.df2{
		margin-right: 0px;
	}
	.df3{
		.df-welcome__box__img_view{
			padding-left: 19px;
			margin-bottom: 8px;
		}	
	}
	.df4{
		margin-top: -12px;
		margin-right: 73px;
	}
	.df5{
		margin-right: 0;
		.df-welcome__box__img_view{
			padding-left: 15px;		
		}	
	}
	.df6{
		.df-welcome__box__img_view{
			margin-bottom: 7px;
		}
	}
}

@media only screen and (min-width : 1248px) {
	.df-imgabsolute1{
		position: absolute;
		right: 0;
		top:355px;
		display: block;
	}
	.df-imgabsolute2{
		position: absolute;
		left:0;
		top:225px;
		display: block;
	}
	.df-imgabsolute3{
		position: absolute;
		top:5px;
		left:0;
		display: block;
	}
}

